<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Formulario de Inicio de Sesión</title>

    <style>
      body .card-body {
        /* background-image: url("/img/background.webp"); */
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        /* background-position: fixed; */
        background-attachment: fixed;
      }

      body .card-body {
        /* color: white !important; */
      }

      #paymentForm {
        color: #282828 !important;
      }
    </style>
  </head>
  <body></body>
</html>
