<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">edgar</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNav"
    aria-controls="navbarNav"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/admin/">productos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/admin/categorias">categorias</a>
      </li>

      <li class="nav-item">
        <a class="nav-link text-danger" href="/">cerrar sesion</a>
      </li>
    </ul>
  </div>
</nav>
